/CajerosMaven/target/
/CajerosMaven/Logs/

/SophiaStudioMaven/target/
/SophiaStudioMaven/Logs/

/Entidades/.idea
/Entidades/Logs/
/Entidades/target/

/Imagenes/target/
/Imagenes/Logs/

/JHBingo/target/

/JPA_Firebird/target/



/ControlCliente/.vscode
/ControlCliente/target/
/ControlCliente/Logs/

/SistemaFacturacion/Logs/
/SistemaFacturacion/target/
/SistemaFacturacion/test-reports/

/TelegramBoot/target/


/Proxy/target/

/Modulo_Comun/target/
/Modulo_Comun/Logs/

/Estancia/target/
/Estancia/Logs/
