/CajerosMaven/target/

/SophiaStudioMaven/target/

/Entidades/.idea
/Entidades/Logs/
/Entidades/target/

/Imagenes/target/

/JHBingo/target/

/JPA_Firebird/target/

/Entidades/nbproject/
/Entidades/target/

/Imagenes/target/
/Imagenes/nbproject/

/ControlCliente/.vscode
/ControlCliente/target/

/SistemaFacturacion/Logs/
/SistemaFacturacion/target/
/SistemaFacturacion/test-reports/
*.log
/TelegramBoot/target/
