/.idea/

/CajerosMaven/Logs/
/CajerosMaven/target/

/ControlCliente/.idea/
/ControlCliente/.vscode/
/ControlCliente/Logs/
/ControlCliente/target/

/Entidades/.idea
/Entidades/Backups/
/Entidades/Imagenes/
/Entidades/Logs/
/Entidades/target/

/Estancia/Logs/
/Estancia/foto/
/Estancia/target/

/Imagenes/Logs/
/Imagenes/target/

/JHBingo/Logs/
/JHBingo/target/

/JPA_Firebird/Logs/
/JPA_Firebird/target/

/Modulo_Comun/Logs/
/Modulo_Comun/target/

/N2Care/Logs/
/N2Care/target/

/Proxy/Logs/
/Proxy/target/

/SistemaFacturacion/Logs/
/SistemaFacturacion/target/
/SistemaFacturacion/test-reports/

/SophiaStudioMaven/Logs/
/SophiaStudioMaven/taget/


/TelegramBoot/.idea/
/TelegramBoot/.mvn/
/TelegramBoot/target/


